[submodule "recipe/packs"]
	path = recipe/packs
	url = https://github.com/buildpack/packs
[submodule "launcher/buildpackapplifecycle"]
	path = launcher/buildpackapplifecycle
	url = https://github.com/cloudfoundry/buildpackapplifecycle
